.card-set {
  margin: -30px 0 0 -30px;
}

.card {
  margin: 30px 0 0 30px;
  max-width: 450px;
}

.card__project {
  text-decoration: none;
  transition: box-shadow $animation-duration $cubic-bezier;
}

.card__thumb {
  position: relative;
  max-height: 294px;
  overflow: hidden;
}

.card__image {
  display: block;
  width: 100%;
}

.card__overlay {
  font-size: 18px;
  line-height: 1.56;
  color: $white-color;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px;
  background-color: $bg-color-cardset-owerlay;
  transform: translateY(100%);
  transition: transform $animation-duration $cubic-bezier;
}

.card__meta {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.card__title {
  color: $secondary-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.95;
  letter-spacing: 0.06em;
  margin: 0;
}

.card__description {
  color: $primary-text-color;
  font-size: 16px;
  line-height: 1.9;
  margin: 0;
}

.card:hover,
.card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card:hover .card__overlay,
.card:focus .card__overlay {
  transform: translate(0);
}

@media screen and (min-width: 768px) {
  .filter-btn {
    justify-content: center;
  }

  .filter-wrap {
    margin: 0 0 30px 0;
  }

  .filter-btn__item:nth-child(2n + 3) {
    margin-right: 0px;
  }

  .card-set {
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    max-width: 354px;
    width: calc(100% / 2 - 30px);
  }

  .card__project {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .card__meta {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

@media screen and (min-width: 1200px) {
  .section--portfolio {
    padding-top: 94px;
  }

  .filter-wrap {
    margin: 0 0 50px;
  }

  .card {
    max-width: 370px;
    width: calc(100% / 3 - 30px);
  }

  .card__image {
    height: 294px;
  }
}
