$primary-text-color: #757575;
$secondary-text-color: #212121;
$accent-color: #2196f3;
$contacts-footer-color: rgba(255, 255, 255, 0.6);
$white-color: #ffffff;
$black-color: #000000;
$icon-color: #afb1b8;

$footer-hero-background: #2f303a;
$primary-background: #e5e5e5;
$secondary-background: #f5f4fa;

$header-line-color: #ececec;
$hero-bg-gradient: rgba(47, 48, 58, 0.4);
$solution-description-bg: rgba(47, 48, 58, 0.8);
$placeholder-footer: rgba(255, 255, 255, 0.6);
$bg-footer-social-link: rgba(255, 255, 255, 0.1);
$backdrop-color: rgba(0, 0, 0, 0.25);
$modal-inputfield-border: rgba(117, 117, 117, 0.5);
$bg-color-cardset-owerlay: rgba(33, 150, 243, 0.9);
$bg-for-team-section: rgba(245, 244, 250, 1);

$animation-duration: 250ms;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

$primary-font: Roboto, "sans-serif";
$secondary-font: Raleway;
